<h1>Friends Index</h1>
<h3>{{link-to "Add new friend" "friends.new"}}</h3>
<h2>{{model.length}}</h2>
<ul>
  {{#each friend in model}}
    <li>
      {{link-to friend.fullName "friends.show" friend}} - 
      <a href="#" {{action "delete" friend}}>Delete</a>
    </li>
  {{/each}}
</ul>
